@media screen and (max-width: 1100px){

  .foto-artista {
    width: calc((1150px - 200px) / 4);
    height: calc((1150px - 200px) / 4);
  }
}

@media screen and (max-width: 767px) {

  /* OPZIONI */

  #opzioni {
    width: 70px;
  }

  #container-opzioni {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-left: 10px;
  }

  #logo {
    margin-left: 5px;
  }

  #ascolti-recenti, nav h3, div h1, #install h3, #profilo h3 {
    display: none;
  }

  #principale {
    width: calc(100% - 70px);
  }

  .titolo-riga h5 {
    display: none;
  }

  /* PLAYER */

  #player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
  }

  #canzone {
    width: 40%;
  }

  .info-canzone {
    margin-left: 15px;
  }

  .mipiace {
    margin-left: 5%;
  }

  #center-player {
    margin-left: 5%;
    width: 20%;
  }

  .img-canzone, .shuffle, .ripeti, .barra-play, .coda, .dispositivi {
    display: none;
  }

  #impostazioni {
    display: flex;
    margin-left: 5%;
    width: 25%;
    justify-content: flex-end;
  }

  .disattiva-audio {
    margin-right: 10px;
  }
