* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

i {
  font-size: 0.8em;
}

/* NOTE: COLORI
grigio font: #b3b3b3
background player top: #1a290c
background player bottom: #202020
background principale alto sx: #3F621F
nero: #0F0F0F
font bianco: #FAFAFA */


#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 90px);
  background: yellow;
}

#player {
  height: 90px;
  justify-content: space-between;
}

/* OPZIONI */

#opzioni {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: #b3b3b3;
  background-color: #0F0F0F;
  justify-content: space-between;
}

#ascolti-recenti {
  overflow: scroll;
  width: 200px;
  height: calc(100vh - 90px - 200px);
}

/* PRINCIPALE */

#principale {
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  overflow: scroll;
  color: #b3b3b3;
  background-image: linear-gradient(to top left, #0F0F0F 0%, #202020 50%, #3F621F 100%);
}

  /* menu */

  #menu {
    display: flex;
    justify-content: center;
  }

    .items-menu {
      display: flex;
      width: calc((767px - 200px) / 6);
      justify-content: center;
      align-items: center;
      height: 90px;
      font-size: 0.6em;
    }

  /* riga */

  .riga {
    display: flex;
    flex-direction: column;
  }

    .titolo-riga {
      display: flex;
    }

    .artisti {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: 0.6em;
      text-align: center;
      justify-content: space-around;
    }

    .singolo-artista {
      padding: 5px;
    }

      .foto-artista {
        background-image: url("../img/drapht.jpg");
        background-size: cover;
        background-position: center;
        max-width: calc((1200px - 200px) / 6);
        max-height: calc((1200px - 200px) / 6);
        min-width: calc((992px - 200px) / 6);
        min-height: calc((992px - 200px) / 6);
      }

      .singolo-artista h3 {
        padding: 2px 0;
      }

/* PLAYER */

#player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #b3b3b3;
  background-image: linear-gradient(to top, #202020 0%, #1a290c 100%);
}

  /* #canzone */

  #canzone {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    min-width: 200px;
    justify-content: space-between;
    align-items: center;
  }

  .img-canzone {
    background-image: url("../img/supermarkets-birthh.jpg");
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 60px;
    margin: 0 15px;
  }

  .titolo-canzone {
    max-height: 20px;
    overflow: scroll;
    color: #FAFAFA;
  }

  /* #center-player */

  #center-player {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 700px;
    min-width: 500px;
  }

    /* comandi-play */

    .comandi-play {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

      .comandi-play div {
        padding: 0 20px;
      }

        .play i {
          font-size: 2em;
          color: #FAFAFA;
        }

    /* barra-play */

    .barra-play {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

     .bar {
       position: relative;
       width: 80%;
       height: 2px;
       background-color: #b3b3b3;
     }

       .bar i {
         position: absolute;
         top: -5px;
         left: 70%;
         transform: translate(-10px, 0);
       }

  /* #impostazioni */

  #impostazioni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
  }

  .volume {
    width: 50%;
    height: 2px;
    margin-right: 15px;
    position: relative;
    background-color: #b3b3b3;
  }

  .volume i {
    position: absolute;
    top: -5px;
    left: 100%;
    transform: translate(-10px, 0);
  }
