* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

i {
  font-size: 0.8em;
}

h2 {
  font-size: 3em;
}

/* NOTE: COLORI
grigio font: #b3b3b3
background player top: #1a290c
background player bottom: #202020
background principale alto sx: #3F621F
nero: #0F0F0F
font bianco: #FAFAFA
verde: #2ebd59 */


#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 90px);
  background: yellow;
}

#player {
  height: 90px;
  justify-content: space-between;
}

/* OPZIONI */

.voce-nav:hover, #ascolti-recenti h3:hover, #install:hover, #profilo:hover {
  color: #FAFAFA;
  cursor: pointer;
}

#opzioni {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: #b3b3b3;
  background-color: #0F0F0F;
  justify-content: space-between;
  font-size: 0.7em;
}

#container-opzioni {
  width: 80%;
  margin: auto;
}

    /* logo e nav */

    #logo {
      display: flex;
      flex-direction: row;
      margin: 30px 0;
      justify-content: flex-start;
      text-align: center;
    }

    #logo i {
      font-size: 3em;
      padding-right: 5px;
    }

    h1 {
      font-size: 2em;
    }

    .voce-nav {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }

    .voce-nav i {
      font-size: 2em;
      padding-right: 15px;
    }


    #ascolti-recenti {
      overflow: scroll;
      width: 200px;
      height: calc(100vh - 90px - 300px);
    }

  /* #down-opzioni */

  #down-opzioni {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

    #install {
      display: flex;
      flex-direction: row;
      padding: 10px 0;
    }

    #install i {
      font-size: 1.5em;
      padding-right: 5px;
    }

    #profilo {
      display: flex;
      flex-direction: row;
      padding-top: 10px;
      border-top: 1px solid #b3b3b3;
    }

    #profilo i {
      font-size: 2em;
      padding-right: 5px;
    }

/* PRINCIPALE */

#principale {
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  overflow: scroll;
  color: #b3b3b3;
  background-image: linear-gradient(to top left, #0F0F0F 0%, #202020 50%, #3F621F 100%);
}

#container-principale {
  width: 94%;
  margin: auto;
}

.titolo-riga h2 {
  padding-top: 40px;
  color: #FAFAFA;
}

  /* menu */

  #menu {
    display: flex;
    justify-content: center;
  }

    .items-menu {
      display: flex;
      flex-direction: column;
      width: calc((767px - 200px) / 6);
      justify-content: center;
      align-items: center;
      height: 90px;
      font-size: 0.6em;
    }

    .items-menu h3 {
      padding-bottom: 5px;
    }

    .items-menu:hover {
      color: #FAFAFA;
      cursor: pointer;
    }

    .green-items-menu {
      background-color: #2ebd59;
      width: 30px;
      height: 2px;
      display: none;
    }

  /* riga */

  .riga {
    display: flex;
    flex-direction: column;
  }

    .titolo-riga {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin: 20px 0;
    }

    .titolo-riga h5 {
      padding-right: 5px;
      display: none;
    }

    .titolo-riga h5:hover {
      color: #FAFAFA;
      cursor: pointer;
    }

    .artisti {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: 0.6em;
      text-align: center;
      justify-content: space-between;
      overflow: scroll;
    }

    .singolo-artista {
      padding: 5px;
    }

      .foto-artista {
        background-image: url("../img/drapht.jpg");
        background-size: cover;
        background-position: center;
        max-width: calc((1200px - 200px) / 6);
        max-height: calc((1200px - 200px) / 6);
        min-width: calc((992px - 200px) / 6);
        min-height: calc((992px - 200px) / 6);
      }

      .singolo-artista h3 {
        padding: 2px 0;
      }

      .hover-foto-artista {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: calc((1200px - 200px) / 6);
        max-height: calc((1200px - 200px) / 6);
        min-width: calc((992px - 200px) / 6);
        min-height: calc((992px - 200px) / 6);
        visibility: hidden;
      }

      .hover-foto-artista .fa-heart {
        font-size: 2em;
      }

      .hover-foto-artista .fa-play-circle {
        font-size: 3em;
      }

      .hover-foto-artista .puntini {
        font-size: 2em;
      }

      .hover-foto-artista:hover {
        visibility: visible;
        cursor: pointer;
      }

/* PLAYER */

#player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #b3b3b3;
  background-image: linear-gradient(to top, #202020 0%, #1a290c 100%);
}

  /* #canzone */

  #canzone {
    display: flex;
    flex-direction: row;
    max-width: 25%;
    min-width: 20%;
    justify-content: space-between;
    align-items: center;
  }

  .img-canzone {
    background-image: url("../img/supermarkets-birthh.jpg");
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 60px;
    margin: 0 15px;
  }

  .titolo-canzone {
    max-height: 20px;
    overflow: scroll;
    color: #FAFAFA;
  }

  .titolo-canzone:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .autori-canzone:hover, .mipiace:hover {
    color: #FAFAFA;
    cursor: pointer;
  }

  /* #center-player */

  #center-player {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 50%;
    min-width: 30%;
  }

  .shuffle:hover, .precedente:hover, .play:hover, .successivo:hover, .ripeti:hover {
    color: #FAFAFA;
    cursor: pointer;
  }

    /* comandi-play */

    .comandi-play {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

      .comandi-play div {
        padding: 0 20px;
      }

        .play i {
          font-size: 2em;
          color: #FAFAFA;
        }

    /* barra-play */

    .barra-play {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

     .bar {
       position: relative;
       width: 80%;
       height: 2px;
       background-color: #b3b3b3;
     }

       .bar i {
         position: absolute;
         top: -5px;
         left: 70%;
         transform: translate(-10px, 0);
       }

  /* #impostazioni */

  #impostazioni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
  }

  .volume {
    width: 50%;
    height: 2px;
    margin-right: 15px;
    position: relative;
    background-color: #b3b3b3;
  }

  .volume i {
    position: absolute;
    top: -5px;
    left: 100%;
    transform: translate(-10px, 0);
  }

  .coda:hover, .dispositivi:hover, .disattiva-audio:hover, .volume:hover {
    color: #FAFAFA;
    cursor: pointer;
  }
